<div class="body-nav-title">
  <div class="title-container-above-body">
    <h2>{{d-icon "comments"}}</h2>
    <h2>{{title}}</h2>
  </div>
  <div class="filter-icons-container">

    {{combo-box
    class="category-director"
    content=categories
    value=category
    valueProperty="value"
    onChange=(action "changeCategory")
    options=(hash
      caretDownIcon="filter"
      caretUpIcon="filter"
    )
  }}
    
     {{combo-box
    class="posts-filter"
    content=statuses
    value=status
    valueProperty="value"
    onChange=(action "changeStatus")
    options=(hash
      caretDownIcon="sort-amount-up"
      caretUpIcon="sort-amount-up"
    )
  }}

  
  
    <button class="question-btn">
      <span class="btn-text">Ask a Question</span>
    </button>
    {{!-- <button class="edit-category-btn">
       <span class="btn-text">edit category</span>
    </button> --}}
  </div>
  
</div>