<div class="body-nav-title">
  <div class="title-container-above-body">
    <h3>{{d-icon "comments"}}</h3>
    <h3>{{title}}</h3>
  </div>
  <div class="filter-icons-container">
    <h5>{{d-icon "filter"}}</h5>
    <h5>{{d-icon "sort-amount-up"}}</h5>
  </div>
</div>