.navigation-container {
  display: none;
}



span .body-nav-title {
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1, h2, h3, h4, h5, h6 {
    white-space: nowrap; 
   }
  .title-container-above-body {
    display: flex;
    align-items: center;
  }
  .filter-icons-container {
    display: flex;
    align-items: center;
    .d-icon {
      color: var(--tertiary);
      border: 1px solid #D2D5D9;
      border-radius: 5px;
      padding: 0.5rem;
    }
  }

  .btn-default {
    background-color: var(--tertiary);
    color: var(--header_background);
    white-space: nowrap;
    &:hover {
      background-color: var(--tertiary-hover);
    }
    svg {
      color: var(--header_background);
    }
  }
}



@media screen and (min-width: 450px) {
  .title-container-above-body {
    h2 {
      font-size: 1.5em;
    }
  }
  .filter-icons-container {
    h5 {
      font-size: 1.2em;
    }
  }
}

@media screen and (min-width: 600px) {
  .title-container-above-body {
    h2 {
      font-size: 2em;
    }
  }
}