.list-controls {
  display: none;
}

span .body-nav-title {
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1, h2, h3, h4, h5, h6 {
    white-space: nowrap; 
   }
  .title-container-above-body {
    display: flex;
    align-items: center;
    
  }
}

.filter-icons-container {
  display: flex;
  align-items: center;
  > h4 {
    margin: 0;
   }
  .d-icon {
    color: var(--tertiary);
    border: 1px solid #D2D5D9;
    border-radius: 5px;
    padding: 0.5rem;
  }
  > .question-btn {
    display: none;
  }
}
div.filter-icons-container {
  .combobox {
    border: 0px !important;
    outline-color: var(--header_background) !important;
    ul:hover{
      color: var(--tertiary) !important;
    transition: all 0.3s ease;
    transform-origin: left;
    padding-left: 25px;
    border-left: 2px solid var(--tertiary);
    background-color: var(--header_background);

    }
    svg{
      color: var(--tertiary) !important;
    }
  }

} 



@media screen and (min-width: 450px) {
  .title-container-above-body {
    h2 {
      font-size: 1.5em;
    }
  }
  .filter-icons-container {
    h5 {
      font-size: 1.2em;
    }
  }
}

@media screen and (min-width: 600px) {
  .title-container-above-body {
    h2 {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 1000px) {
  .body-nav-title {
    .filter-icons-container {
      width: 40%;
      >.question-btn {
        display: block;
      }
    }
  }
}