span .body-nav-title {
  padding-top: 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title-container-above-body {
    display: flex;
  }
  .filter-icons-container {
    display: flex;
    align-items: center;

    .d-icon {
      color: var(--tertiary);
      border: 1px solid #D2D5D9;
      border-radius: 5px;
      padding: 0.5rem;
    }
  }
}