<div class="above-body-nav-title custom-container wrap">
  <div class="title-container-above-body">
    {{d-icon "comments"}}
    <h1>Discussions</h1>
  </div>
  <div class="filter-icons-conteinr">
    {{d-icon "filter"}}
    {{d-icon "sort-amount-up"}}
  </div>
</div>