<div class="body-nav-title">
  <div class="title-container-above-body">
    <h2>{{d-icon "comments"}}</h2>
    <h2>{{currentRouteName}}</h2>
  </div>
  <div class="filter-icons-container">
    <h4>{{d-icon "filter"}}{{d-icon "sort-amount-up"}}</h4>
  </div>
</div>