<div class="body-nav-title">
  <div class="title-container-above-body">
    <h2>{{d-icon "comments"}}</h2>
    <h1>{{currentRouteName}}</h1>
  </div>
  <div class="filter-icons-container">
    <h3>{{d-icon "filter"}}{{d-icon "sort-amount-up"}}</h3>
  </div>
</div>